@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<input type="text" id="txt" placeholder="Ingresa mensaje">
<button id="btnSendMsg" class="btn btn-primary"> Send Message</button>
    <ul id="contenedor">
    </ul>
<script src="~/js/signalr.js"></script>
<script>
    const btnSendM = document.getElementById("btnSendMsg");
    const contenedor = document.getElementById("contenedor");
    const txt = document.getElementById("txt");
    const conexion = new signalR.HubConnectionBuilder().withUrl("/WebSocketServer").build();
    conexion.start().then(() => {
        console.log("Conexion exitosa");
    }).catch((e) => {
        console.log("Error al conectarse al servidor de websockets");
    });

    conexion.on("EnviarMensajeTodos",(msj)=>{
        let li = document.createElement("li");
        li.textContent = msj;
        contenedor.appendChild(li);
    });
    btnSendM.addEventListener("click", () => {
        conexion.invoke("EnviarMensaje",txt.value);
    });
</script>